/venv/
/evernote_analytics/Abstracts.enex
/evernote_analytics/Важные (стратегические) вещи.enex
/financial/operations Mon Jan 10 03_31_06 MSK 2022-Wed Feb 09 22_55_16 MSK 2022.csv
/financial/operations Sat Jan 01 12_30_12 MSK 2022-Sun Feb 13 20_38_44 MSK 2022.csv
/financial/operations Tue Mar 01 19_24_01 MSK 2022-Sun Mar 27 18_29_44 MSK 2022.csv
